/* Oculta scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Cursor */
.cursor-grab {
  cursor: grab;
}
.cursor-grabbing {
  cursor: grabbing !important;
}
